<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Part-timer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">DT Solutions, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The daily operation of the Singapore data Security company DT Solutions in Sydney including shipping and testing, and after-sales service for their main products like harddrive degausser and shredder.</p>  
                        <p>Working with clients like AWS.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Apr 2014 - Aug 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">OCBC Bank, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working with the marketing team of Corporate Banking department of OCBC Bank.</p>  
                        <p>Utilising IT skills for data mining and data analysis of customer data and categorize customers for marketing team to organize different marketing campaign.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->