<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network Engineer</h3>
                            <div class="time">Apr 2019 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">CITIC Telecom Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was responsible for tSupport MPLS, SD-WAN provisioning and operations for company’s VIP customers</p> 
                        <p>Assist senior engineer in engineering project distributions and rollout.</p> 
                        <p>Design, plan and engineer different network platforms and systems to meet product specification andoperational requirements.</p>  
                        <p>Support and co-operate with operation team in daily operations on production platforms with focus inASEAN region.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network Engineer(N1)</h3>
                            <div class="time">Jan 2018 - Apr 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Garena Pte Ltd</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was responsible for the monitoring, troubleshooting and maintenance duties of the company’s Networking infrastructure. Job scopes including writing monitoring scripts using Python and Shell and using Cisco and Huawei CLI commands for Tier-1 troubleshooting.</p> 
                        <p>I have successfully helped set up Linux servers running as monitoring scripts and Zabbix services and Network monitoring screens on wall using Zabbix and Grafana for day-to-day monitoring purposes.</p> 
                        <p>I am also responsible of Firewall administration by adding/removing firewall policies and backup con- figurations to TFTP servers. Including Firewalls from different vendors like Palo Alto, Arbor and Cisco ASA.</p>  
                        <p>I am working alongside Network Engineers, tech operations and developers and write well-structured reports to log network incidents, maintenances and day-to-day service improvement plans.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->