<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Network Engineer(N1)</h3>
                            <div class="time">Jan 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Sea Group</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was responsible for the monitoring, troubleshooting and maintenance duties of the company’s Networking infrastructure. Job scopes including writing monitoring scripts using Python and Shell and using Cisco and Huawei CLI commands for Tier-1 troubleshooting.</p> 
                        <p>I have successfully helped set up Linux servers running as monitoring scripts and Zabbix services and Network monitoring screens on wall using Zabbix and Grafana for day-to-day monitoring purposes.</p> 
                        <p>I am also responsible of Firewall administration by adding/removing firewall policies and backup con- figurations to TFTP servers. Including Firewalls from different vendors like Palo Alto, Arbor and Cisco ASA.</p>  
                        <p>I am working alongside Network Engineers, tech operations and developers and write well-structured reports to log network incidents, maintenances and day-to-day service improvement plans.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Part-time Tech Support</h3>
                            <div class="time">Jun 2016 - Jun 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">DT Solutions, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was responsible for coordinating with local customers from AWS in Sydney and the headquarter in Singapore for the delivering and after-sales support of company’s products Hard disk degausser and shredder to customer.</p>  
                        <p>I was also responsible of Tier 1 on-site troubleshooting of the faulty products. I have demonstrated my problem solving and communication skills during this experience.</p>
                        <p>I have successfully helped the company fulfilled 3 orders throughout the year and conducted on-site troubleshooting multiple times.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Apr 2014 - Aug 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">OCBC Bank, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working with the marketing team of Corporate Banking department of OCBC Bank.</p>  
                        <p>Utilising IT skills for data mining and data analysis of customer data and categorize customers for marketing team to organize different marketing campaign.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->