<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Professional Certificates</h2>
                <div class="intro">
                    <p>Below are profession certificates that I've acquired</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Cisco Certified Network Associate Routing and Switching</a></span> - <span class="project-tagline">Dec 2018 - Dec 2021</span>   
                </div>
                <div class="item">
                    <span class="project-title"><a href="#hook">PTE 84/90</a></span> - <span class="project-tagline">Equivilant to IELTS score 8.0/9.0</span>   
                </div
            </section><!--//section-->