<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below are some projects I have done or participated in.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Warehouse Master</a></span> - <span class="project-tagline">A sokoban game made by Java and Java Swing.</span>   
                </div><!--//item-->
            </section><!--//section-->